@model IEnumerable<dmyWebApp.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>Customer</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, actionName: "Details", controllerName: "Customers", routeValues: new {id = customer.Id}, htmlAttributes: new {})
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet!</p>
}